.userList {
    width: 100%;
    display:flex;
    flex-direction: column;
    gap:2px;
}

.clubOwnerContainer {
    margin: 3vw;
    border-color: #c7c3bf;
    border-width:2px;
    border-style: solid;
    border-radius: 10px;
}