.event-form-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-right: 20px;
  max-width: 400px;
  border: 1px solid #e0e0e0;
}

.events-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.event-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}